div{
  text-align:center;
  width: 100%;
}
.col-lg-12{
  text-align:center;
}
h3{
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
}
h4{
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
}
.login{
  margin-left: auto;
  margin-right: 35px;
  
}
.buttons{
  border-radius: 5px;
  background-color:skyblue;
  color:white;
  border:2px solid blue

}
#username,#password{
  border-radius: 5px;
  border: 2px solid gainsboro;
}

